.actions {
    display: flex;
}

.formInput {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.textInput {
    margin-top: 2px;
    display: block;
    padding: .25rem;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.textInput {
    margin-top: 2px;
    display: block;
    padding: .25rem;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.textArea {
    display: block;
    padding: .25rem;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.buttonGroup {
    display: block;
}

.buttonGroup .button {
    margin-right: .25rem;
}

.buttonGroup .button:first-child {
    margin-left: 0;
}

.button {
    line-height: 24px;
    margin: 0 6px;
    border-radius: 2px;
    color: white;
    min-width: 80;
    padding: 0 12px;
    outline: none;
    border: none;
    background-color: #3c3c3c;
}